* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  scrollbar-gutter: stable;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni 72";
  src: url("/fonts/Bodoni.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.fill-down-effect {
  position: relative;
  left: 0;
  right: 0;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  z-index: 1;
  overflow: hidden;
}
.fill-down-effect::before {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 150%;
  height: 300%;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .fill-down-effect:hover, .fill-down-effect:focus-within {
    color: #d9ad5e;
  }
}
@media (hover: none) and (pointer: coarse) {
  .fill-down-effect:active, .fill-down-effect:focus, .fill-down-effect:focus-within {
    color: #d9ad5e;
  }
}
@media (hover: hover) and (pointer: fine) {
  .fill-down-effect:hover::before, .fill-down-effect:focus-within::before {
    bottom: -50%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .fill-down-effect:active::before, .fill-down-effect:focus::before, .fill-down-effect:focus-within::before {
    bottom: -50%;
  }
}

.show-top {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-filter: blur(33px);
          filter: blur(33px);
  -webkit-transition: opacity, -webkit-transform, -webkit-filter;
  transition: opacity, -webkit-transform, -webkit-filter;
  transition: opacity, transform, filter;
  transition: opacity, transform, filter, -webkit-transform, -webkit-filter;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: var(--delay);
          transition-delay: var(--delay);
}
@media (hover: hover) and (pointer: fine) {
  .show-top:hover, .show-top:focus-within {
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@media (hover: none) and (pointer: coarse) {
  .show-top:active, .show-top:focus, .show-top:focus-within {
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.underline-show-center {
  color: #000;
  cursor: pointer;
}
.underline-show-center span {
  position: relative;
  color: #000;
}
@media (hover: hover) and (pointer: fine) {
  .underline-show-center span:hover::before, .underline-show-center span:focus-within::before {
    -webkit-transform: translate(-50%, 0) scaleX(1);
        -ms-transform: translate(-50%, 0) scaleX(1);
            transform: translate(-50%, 0) scaleX(1);
  }
}
@media (hover: none) and (pointer: coarse) {
  .underline-show-center span:active::before, .underline-show-center span:focus::before, .underline-show-center span:focus-within::before {
    -webkit-transform: translate(-50%, 0) scaleX(1);
        -ms-transform: translate(-50%, 0) scaleX(1);
            transform: translate(-50%, 0) scaleX(1);
  }
}
.underline-show-center span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, 0) scaleX(0);
      -ms-transform: translate(-50%, 0) scaleX(0);
          transform: translate(-50%, 0) scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.underline-hidden span {
  position: relative;
}
@media (hover: hover) and (pointer: fine) {
  .underline-hidden span:hover::before, .underline-hidden span:focus-within::before {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
}
@media (hover: none) and (pointer: coarse) {
  .underline-hidden span:active::before, .underline-hidden span:focus::before, .underline-hidden span:focus-within::before {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
}
.underline-hidden span::before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -8px;
  left: 0;
  right: 0;
  background-color: #d9ad5e;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.fill-color {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.fill-color::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  max-width: 0;
  border-bottom: 2px solid currentColor;
  color: #1699f7;
  -webkit-transition: max-width 0.3s ease-in-out;
  transition: max-width 0.3s ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .fill-color:hover::before, .fill-color:focus-within::before {
    max-width: 100%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .fill-color:active::before, .fill-color:focus::before, .fill-color:focus-within::before {
    max-width: 100%;
  }
}

.show-top {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-filter: blur(33px);
          filter: blur(33px);
  -webkit-transition: opacity, -webkit-transform, -webkit-filter;
  transition: opacity, -webkit-transform, -webkit-filter;
  transition: opacity, transform, filter;
  transition: opacity, transform, filter, -webkit-transform, -webkit-filter;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.show-top.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-filter: blur(0);
          filter: blur(0);
}

.show-left-right {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
      -ms-transform: translate(-30px, 0px);
          transform: translate(-30px, 0px);
  -webkit-filter: blur(33px);
          filter: blur(33px);
  -webkit-transition: opacity, -webkit-transform, -webkit-filter;
  transition: opacity, -webkit-transform, -webkit-filter;
  transition: opacity, transform, filter;
  transition: opacity, transform, filter, -webkit-transform, -webkit-filter;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.show-left-right.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-filter: blur(0);
          filter: blur(0);
}

.page {
  min-width: 320px;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  background-color: #fff;
  overflow-x: clip;
}

.page.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1054px;
  padding-inline: 15px;
  margin-inline: auto;
  overflow-x: clip;
}

.section-title {
  font-weight: 400;
  line-height: 1;
  color: #000;
  font-size: 4rem;
  font-family: "Bodoni 72", sans-serif;
}
@media (max-width: 1440px) {
  .section-title {
    font-size: calc(2rem + (2) * (100vw - 20rem) / (70));
  }
}

.subtitle {
  letter-spacing: 5%;
  text-align: center;
}

.red-line {
  display: inline-block;
  width: 120px;
  height: 1px;
  background-color: #d9ad5e;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 0;
  top: 0;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 5%;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #d9ad5e;
  background: #d9ad5e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__img {
  display: block;
  aspect-ratio: 1/1;
  width: 60px;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .logo__img {
    width: calc(42px + (18) * (100vw - 320px) / (1120));
  }
}
.logo__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 32px;
  row-gap: 32px;
}
@media (max-width: 1440px) {
  .section-header {
    row-gap: calc(16px + (16) * (100vw - 320px) / (1120));
  }
}

.about__content {
  margin-inline: auto;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 32px;
}
.about__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.about__text p {
  line-height: 1.25; /* 25/20 */
  text-align: center;
  font-size: 1.25rem;
}
@media (max-width: 1440px) {
  .about__text p {
    font-size: calc(1rem + (0.25) * (100vw - 20rem) / (70));
  }
}
.about__button {
  margin-bottom: 24px;
}
@media (max-width: 1440px) {
  .about__button {
    margin-bottom: calc(12px + (12) * (100vw - 320px) / (1120));
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}
.header__content {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  z-index: 5;
  position: relative;
  inset: 0;
  pointer-events: all;
}

.header.scrolling {
  background: rgba(79, 79, 84, 0.2);
  backdrop-filter: blur(18px);
}

.header.hidden {
  opacity: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}

.main > section {
  padding-block: 64px;
}
@media (max-width: 1440px) {
  .main > section {
    padding-block: calc(30px + (34) * (100vw - 320px) / (1120));
  }
}

.services {
  background-color: #f5f5f5;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: calc(34px + (14) * (100vw - 320px) / (447.98));
}
@media (min-width: 767.98px) {
  .services__content {
    row-gap: calc(48px + (16) * (100vw - 767.98px) / (672.02));
  }
}
@media (min-width: 1440px) {
  .services__content {
    row-gap: 64px;
  }
}
.services__link {
  letter-spacing: 5%;
  text-align: center;
  -webkit-transition: color, 0.3s ease-in;
  transition: color, 0.3s ease-in;
}
@media (hover: hover) and (pointer: fine) {
  .services__link:hover, .services__link:focus-within {
    color: #d9ad5e;
  }
}
@media (hover: none) and (pointer: coarse) {
  .services__link:active, .services__link:focus, .services__link:focus-within {
    color: #d9ad5e;
  }
}
.services__items {
  max-width: 916px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 96px;
}
@media (max-width: 1440px) {
  .services__items {
    row-gap: calc(24px + (72) * (100vw - 320px) / (1120));
  }
}
@media (min-width: 479.98px) {
  .services__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 767.98px) {
  .services__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scale: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.services__item > figure {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.services__item > figure img {
  width: 100%;
  max-height: 64px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.services__item > figure figcaption {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 5%;
  -webkit-transition: color, 0.3s ease-in-out;
  transition: color, 0.3s ease-in-out;
  font-size: 1.25rem;
}
@media (max-width: 1440px) {
  .services__item > figure figcaption {
    font-size: calc(1rem + (0.25) * (100vw - 20rem) / (70));
  }
}
@media (hover: hover) and (pointer: fine) {
  .services__item:hover figcaption, .services__item:focus-within figcaption {
    color: #d9ad5e;
  }
}
@media (hover: none) and (pointer: coarse) {
  .services__item:active figcaption, .services__item:focus figcaption, .services__item:focus-within figcaption {
    color: #d9ad5e;
  }
}
@media (hover: hover) and (pointer: fine) {
  .services__item:hover img, .services__item:focus-within img {
    scale: 1.1;
    rotate: -3deg;
  }
}
@media (hover: none) and (pointer: coarse) {
  .services__item:active img, .services__item:focus img, .services__item:focus-within img {
    scale: 1.1;
    rotate: -3deg;
  }
}