@use "../utils/_index" as *;

.amenities {
  &__header {
    @include adaptive-property(margin-bottom, 25, 0, 57);
  }
}
.gallery-amenities {
  &__title {
    letter-spacing: 15%;
    @include adaptive-property(font-size, 1.125, 0, 1.5, rem);
    @include adaptive-property(margin-bottom, 18, 0, 38);
    text-align: center;
  }
  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__row {
    display: flex;
    column-gap: 18px;
    // aspect-ratio: 3.58 / 1;
  }
  &__item {
    width: 40.66%;
    border-radius: 4px;
  }
  &__item--big {
    width: 59.44334%; /* 598/1006 */
    display: flex;
    column-gap: 18px;
  }
}
