@use "../utils/_index.scss" as *;

.section-title {
  font-weight: 400;
  line-height: 1;
  color: $text-color-main;
  @include adaptive-property(font-size, 2, 0, 4, rem);
  @include font-bodoni;
}

.subtitle {
  letter-spacing: 5%;
  text-align: center;
}
.red-line {
  display: inline-block;
  width: 120px;
  height: 1px;
  background-color: $bg-color-red;
}

//=================================BUTTON=============================
.button {
  width: fit-content;
  position: relative;
  left: 0;
  top: 0;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $bg-color-main;

  font-weight: 400;
  line-height: 1;
  letter-spacing: 5%;
  color: $bg-color-main;
  text-align: center;

  border-radius: $radius;
  border: 2px solid $bg-color-red;
  background: $bg-color-red;
  transition: $transition-duraction;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

// ==============================LOGO
.logo {
  display: flex;
  align-items: center;

  &__img {
    display: block;
    aspect-ratio: 1 / 1;
    @include adaptive-property(width, 42, 0, 60);
    @include ibg;
  }
}

//===============================SECTION-HEADER==========================
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  @include adaptive-property(row-gap, 16, 0, 32);
}

//===============================SOCIALS==========================
.socials {
  display: flex;
  row-gap: 15px;
  @include adaptive-property(column-gap, 18, 0, 32);

  &__social {
    img {
      width: 32px;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      transition: scale $transition-duraction ease-in-out,
        rotate $transition-duraction ease-in-out;
      @include hover {
        scale: 1.1;
        rotate: -3deg;
      }
    }
  }
}
